* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

#header-container {
    height: 4rem;
    margin-bottom: auto;
    background-color: rgb(25, 25, 25);
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 20rem;
    margin-top: 1rem;
}

h2 {
    height: 1.5rem;
    padding: 1rem 0.2rem;
    color: white;
    font-size: 26px;
    border-bottom: 1px solid rgb(50, 50, 50);
}


