.left-container {
    width: 40rem;
    margin: 1rem 5rem;
}

#posts-section {
    height: fit-content;
}

.post-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: inherit;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    margin-top: 1rem;
}

.post-main h3, p, ul{
    width: 38rem;
    color: white;
    margin: 1rem;
}

.post-title {
    font-size: 26px;
}

.post-body {
    font-size: 24px;
}

.post-tags {
    width: 19rem;
    list-style-type: none;
    margin-bottom: 1.5rem;
}

li {
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
    padding: 0.7rem;
    margin-right: 0.3rem;
    text-transform: capitalize;
}

.reactions {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 17rem;
    margin: 1rem;
}

.likes {
    color: white;
    font-style: normal;
    padding: 0 0.5rem;
    font-size: 26px;
    background-color: transparent;
}

.material-symbols-outlined {
    color: white;
    font-size: 34px;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.isLiked {
    color: red;
    font-variation-settings:
    'FILL' 1
}

