#feed-posts {
    height: fit-content;
}

.post-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 45rem;
    border-radius: 20px;
    background-color: rgb(25, 25, 25);
}

.post-main h3, p, ul {
    color: white;
    margin: 1rem;
}


.post-title {
    font-size: 26px;
    text-decoration: underline;
}

.post-body {
    font-size: 24px;
}

.post-tags {
    list-style-type: none;
    margin-bottom: 1.5rem;
}

li {
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
    padding: 0.7rem;
}